# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
jeopardy = pd.read_csv('jeopardy.csv')
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [2]:
print(jeopardy.describe(include='all'))

          Show Number    Air Date      Round        Category   Value  \
count   216930.000000      216930     216930          216930  216930
unique            NaN        3640          4           27995     150
top               NaN  1997-05-19  Jeopardy!  BEFORE & AFTER    $400
freq              NaN          62     107384             547   42244
mean      4264.238519         NaN        NaN             NaN     NaN
std       1386.296335         NaN        NaN             NaN     NaN
min          1.000000         NaN        NaN             NaN     NaN
25%       3349.000000         NaN        NaN             NaN     NaN
50%       4490.000000         NaN        NaN             NaN     NaN
75%       5393.000000         NaN        NaN             NaN     NaN
max       6300.000000         NaN        NaN             NaN     NaN

            Question  Answer
count         216930  216928
unique        216124   88268
top     [audio clue]   China
freq              17     216
mean             NaN     NaN
std              NaN     NaN
min              NaN     NaN
25%              NaN     NaN
50%              NaN     NaN
75%              NaN     NaN
max              NaN     NaN

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [3]:
print(jeopardy.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [4]:
jeopardy = jeopardy.rename(columns={'Show Number': 'Show_Number', ' Air Date': 'Air_Date', ' Round': 'Round',\
                                    ' Category': 'Category', ' Value': 'Value', ' Question': 'Question', ' Answer': 'Answer'})
print(jeopardy.columns)

Index(['Show_Number', 'Air_Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [5]:
def search_words(data, wordlist):
#     wordlist_l = [word.lower() for word in wordlist]
#     data['Question_low'] = data.Question.apply(str.lower)
    filtered_questions = data.loc[data.Question.apply(lambda question: all(word in question for word in wordlist))]    
    return filtered_questions

In [6]:
filtred_1 = search_words(jeopardy, ["King", "England"])
print(len(filtred_1))
filtred_1.head()

49

,Show_Number,Air_Date,Round,Category,Value,Question,Answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
14912,2832,1996-12-17,Jeopardy!,WORLD HISTORY,$100,"This country's King Louis IV was nicknamed ""Louis From Overseas"" because he was raised in England",France
21511,4650,2004-11-19,Jeopardy!,"THE ""O.C.""",$1000,this man and his son ruled England following the execution of King Charles I,Oliver Cromwell
23810,4862,2005-11-01,Jeopardy!,NAME THE YEAR,$400,William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year,1066
27555,1799,1992-05-28,Double Jeopardy!,HISTORIC IN-LAWS,$600,This member of the Medici family was the mother-in-law of England's King Charles I,Marie de Medici

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [7]:
def search_words_v2(data, wordlist):
    wordlist_l = [word.lower() for word in wordlist]
    data['Question_low'] = data.Question.apply(str.lower)
    filtered_questions = data.loc[data.Question_low.apply(lambda question: all(word in question for word in wordlist_l))]    
    return filtered_questions

In [8]:
filtred_2 = search_words_v2(jeopardy, ["King", "England"])
print(len(filtred_2))
filtred_2.head()

152

,Show_Number,Air_Date,Round,Category,Value,Question,Answer,Question_low
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting),"both england's king george v & fdr put their stamp of approval on this ""king of hobbies"""
6337,3517,1999-12-14,Double Jeopardy!,Y1K,$800,"In retaliation for Viking raids, this ""Unready"" king of England attacks Norse areas of the Isle of Man",Ethelred,"in retaliation for viking raids, this ""unready"" king of england attacks norse areas of the isle of man"
9191,3907,2001-09-04,Double Jeopardy!,WON THE BATTLE,$800,This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt,Henry V,this king of england beat the odds to trounce the french in the 1415 battle of agincourt
11710,2903,1997-03-26,Double Jeopardy!,BRITISH MONARCHS,$600,"This Scotsman, the first Stuart king of England, was called ""The Wisest Fool in Christendom""",James I,"this scotsman, the first stuart king of england, was called ""the wisest fool in christendom"""
13454,4726,2005-03-07,Jeopardy!,A NUMBER FROM 1 TO 10,$1000,It's the number that followed the last king of England named William,4,it's the number that followed the last king of england named william

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [9]:
print(jeopardy.dtypes)

Show_Number      int64
Air_Date        object
Round           object
Category        object
Value           object
Question        object
Answer          object
Question_low    object
dtype: object

In [10]:
jeopardy.Value.astype('string')
jeopardy['Value_USD'] = [float(value[1:].replace(',','')) if value!='None' else 0 for value in jeopardy.Value]
# print(jeopardy.Value_USD.value_counts())
# jeopardy.head()
print(jeopardy.dtypes)

Show_Number       int64
Air_Date         object
Round            object
Category         object
Value            object
Question         object
Answer           object
Question_low     object
Value_USD       float64
dtype: object

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [11]:
def unique_answ(data):
    return data.Answer.value_counts()

In [12]:
filtred_3 = search_words_v2(jeopardy, ["King"])
print(unique_answ(filtred_3))

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: Answer, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [13]:
print(jeopardy.Air_Date.max())
print(jeopardy.Air_Date.min())
jeopardy['Decade'] = jeopardy.Air_Date.apply(lambda row: '1980s' if row[0:3]=='198'
                                           else '1990s' if row[0:3]=='199'
                                           else '2000s' if row[0:3]=='200'
                                           else '2010s')
# print(jeopardy.Decade.value_counts())

filter_4 = search_words_v2(jeopardy, ['Computer'])
print(filter_4.Decade.value_counts())

2012-01-27
1984-09-10
2000s    268
1990s     98
2010s     59
1980s      6
Name: Decade, dtype: int64

In [14]:
jeopardy.Round[jeopardy.Category == 'LITERATURE'].value_counts()

Double Jeopardy!    381
Jeopardy!           105
Final Jeopardy!      10
Name: Round, dtype: int64

In [15]:
import random as rd
index_q = rd.randint(0, len(jeopardy))
print(jeopardy.Question[index_q])
print(jeopardy.Answer[index_q])
print('\n')
print('Please, enter your answer: ')
answer = input()
if answer == jeopardy.Answer[index_q]:
    print('Congrats! This is correct')
else:
    print('The answer is wrong :( . The correct answer is: ' + str(jeopardy.Answer[index_q]))

Miriam Rothschild discovered that a rubbery protein called resilin stored in the hind legs gives fleas this amazing ability
jumping


Please, enter your answer:
None
The answer is wrong :( . The correct answer is: jumping

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.